[run]
branch = True
source =
    noggin_messages

[paths]
source =
   noggin_messages
   .tox/*/site-packages/noggin_messages

[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    noggin_messages/tests/*
